{{weather-windbarb cloudCover=cloudCover windBearing=windBearing windSpeed=windSpeed}}

<span class='stationModel-dewPoint'>{{dewPoint}}</span>
<span class='stationModel-pressure'>{{pressure}}</span>
<span class='stationModel-temperature'>{{temperature}}</span>
<span class='stationModel-visibility'>{{visibility}}</span>

{{yield}}
